<p-menubar>

    <ng-template #start>
        <img class="logo-custom" (click)="onClickLogo()" width="200" src="assets/img/poke-dexplorer-logo.png" alt="Logo PokeDexplorer">
    </ng-template>

    <ng-template #end>  
        <div class="flex flex-row gap-1 md:gap-2">
            <div>
                <p-select [(ngModel)]="selectedLanguage" (onChange)="changeLanguage()" size="small"  dropdownIcon="pi pi-language" [options]="language" optionLabel="label" />
            </div>
            <div class="">
                <p-button [icon]="themeIcon" (onClick)="toggleDarkMode()" variant="outlined" severity="secondary" />
            </div>
            <div class="">
                <p-button icon="pi pi-github" (onClick)="handleGitHubBtn()" variant="outlined" severity="secondary" />
            </div>
        </div>
    </ng-template>

</p-menubar>