<p-menubar>

    <ng-template #start>
        <img class="logo-custom" (click)="onClickLogo()" width="200" src="assets/img/poke-dexplorer-logo.png" alt="Logo PokeDexplorer">
    </ng-template>

    <ng-template #end>  
        <div class="grid grid-nogutter">
            <div class="col mr-1 ml-1 mt-1">
                <div class="text-center">
                    <p-button [icon]="themeIcon" (onClick)="toggleDarkMode()" variant="outlined" severity="secondary" />
                </div>
            </div>
            <div class="col mr-1 ml-1 mt-1">
                <div class="text-center">
                    <p-button icon="pi pi-github" (onClick)="handleGitHubBtn()" variant="outlined" severity="secondary" />
                </div>
            </div>
            <div class="col mr-1 ml-1 mt-1">
                <div class="text-center ">
                    <p-select [(ngModel)]="selectedLanguage" (onChange)="changeLanguage()"  dropdownIcon="pi pi-language" [options]="language" optionLabel="label" placeholder="Idioma" />
                </div>
            </div>
        </div>
    </ng-template>

</p-menubar>