
<div class="grid mb-3">
    <div class="col flex justify-content-center">
        <p-iconfield>
            <p-inputicon styleClass="pi pi-search" />
            <input type="text" pInputText [placeholder]="'search' | translate" />
        </p-iconfield>
    </div>
</div>

<div class="grid">

    @for (poke of this.pokeCardList; track poke.id) {

        <div class="col-12 md:col-4 lg:col-3">
            <div class="flex justify-content-center">
                <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                    <ng-template #header>
                        <div class="container-img-pokemon" [style]="poke.color">
                            <img [alt]="poke.name" [src]="poke.pokeSprite" />
                        </div>
                    </ng-template>
                    <ng-template #title> {{ poke.name | titlecase }} </ng-template>
                    <ng-template #subtitle> # {{ '0000' + poke.id| slice:-4 }} </ng-template>
                    <img [src]="poke.firstTypeSprite">
                    @if(poke.secondTypeSprite){
                        <img [src]="poke.secondTypeSprite">
                    }
                </p-card>
            </div>
        </div>

    }
    
</div>


<div class="flex justify-content-center mt-3">
    <p-button (onClick)="loadPokemonList()" [disabled]="isDisabledLoadPokemonBtn" [label]="'loadPokemon' | translate" icon="pi pi-refresh" iconPos="right" />
</div>

@if(showSpinner){
    <div class="flex justify-content-center mt-3">
        <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
    </div>
}






