
<div class="grid">
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/17.png" alt="">
                
            </p-card>
        </div>
    </div>
    <div class="col-12 md:col-4 lg:col-3">
        <div class="flex justify-content-center">
            <p-card [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center' }">
                <ng-template #header>
                    <div class="container-img-pokemon" style="background-color: greenyellow;">
                        <img alt="Card" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" />
                    </div>
                </ng-template>
                <ng-template #title> Bulbasaur </ng-template>
                <ng-template #subtitle> #0001 </ng-template>
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/x-y/18.png" alt="">
                
            </p-card>
        </div>
    </div> 
</div>
