.container-img-pokemon {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img-pokemon::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--p-content-background);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    transform: translateY(40%);
}

.container-img-pokemon img {
    position: relative;
    z-index: 1;
    width: 150px;
    object-fit: contain;
}