<div class="flex justify-content-center mb-3">
    <p-inputgroup [style]="{ width: '250px' }">
        <input
        pInputText
        [(ngModel)]="searchPokemon"
        (keyup.enter)="onSearchPokemon()"
        [placeholder]="'search' | translate"
        />
        <p-inputgroup-addon>
        <p-button
            icon="pi pi-search"
            (onClick)="onSearchPokemon()"
            severity="secondary"
            variant="text"
        />
        </p-inputgroup-addon>
    </p-inputgroup>
</div>

<div class="grid">

        @for (poke of this.pokeCardList; track poke.id) {

            <div class="col-12 md:col-4 lg:col-3 fadein animation-duration-1000">
                <div class="flex justify-content-center">
                <p-card (click)="handleCardPoke(poke.id)"
                    [style]="{ width: '15rem', overflow: 'hidden', textAlign: 'center', cursor: 'pointer' }"
                >
                    <ng-template #header>
                        <div class="container-img-pokemon" [style]="poke.color">
                            @if(poke.pokeSprite){
                                <img [alt]="poke.name" [src]="poke.pokeSprite" />
                            }@else {
                                <img alt="Pokemon 404" src="assets/img/poke-not-found.png" />
                            }
                        </div>
                    </ng-template>
                    <ng-template #title> {{ poke.name | titlecase }} </ng-template>
                    <ng-template #subtitle>
                        #{{ "0000" + poke.id | slice : -4 }}
                    </ng-template>
                    <img [src]="poke.firstTypeSprite" alt="type 1 pokemon" />
                    @if(poke.secondTypeSprite){
                        <img [src]="poke.secondTypeSprite" alt="type 2 pokemon" />
                    }
                </p-card>
                </div>
            </div>
        }

        @if(this.pokeCardList.length == 0 && this.showSpinner == false){
            <div class="col-12">
                <div class="flex justify-content-center">
                    <p-card [header]="'not-found' | translate"/>
                </div>
            </div>
        }

</div>

<div class="flex justify-content-center mt-3">
    <p-button
        (onClick)="loadPokemonCardList()"
        [disabled]="isDisabledLoadPokemonBtn"
        [label]="'loadPokemon' | translate"
        icon="pi pi-refresh"
        iconPos="right"
    />
</div>

@if(showSpinner){
    <div class="flex justify-content-center mt-3">
        <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
    </div>
}
