
@if(pokeDetailView && showSpinner == false){

    <div class="detail-container fadein animation-duration-500">
    
        <div class="grid">
    
            <div class="col-12 md:col-6 lg:col-6">
                <div class="flex flex-column justify-content-center text-center">
                    <span class="custom-title">{{ this.pokeDetailView.name | titlecase }}</span>
                    <span class="custom-subtitle">#{{ "0000" + this.pokeDetailView.id | slice : -4 }}</span>
                    <div>
                        @if(this.pokeDetailView.pokeSprite){
                            <img width="300" [alt]="this.pokeDetailView.name" [src]="this.pokeDetailView.pokeSprite" />
                        }@else {
                            <img width="300" alt="Pokemon 404" src="assets/img/poke-not-found.png" />
                        }
                    </div>
                    <div>
                        <img [src]="this.pokeDetailView.firstTypeSprite" alt="type 1 pokemon" />
                        @if(this.pokeDetailView.secondTypeSprite){
                            <img [src]="this.pokeDetailView.secondTypeSprite" alt="type 2 pokemon" />
                        }
                    </div>
                    <div>
                        <span class="custom-subtitle">Peso: {{this.pokeDetailView.weight | number:'1.1-1' }}kg </span>
                        <span class="custom-subtitle">Altura: {{this.pokeDetailView.height | number:'1.2-2'}}m</span>
                    </div>
                </div>
            </div>
    
            <div class="col-12 md:col-6 lg:col-6 flex align-items-center justify-content-center">
                <div class="flex flex-column justify-content-center text-justify">
                    <span class="align-items-center justify-content-center">
                        A Bulbasaur es fácil verle echándose una siesta al sol. La semilla que tiene en el lomo va creciendo cada vez más a medida que absorbe los rayos del sol.
                    </span>
                
                    <div class="grid mt-5 align-items-center justify-content-center">
                        <div class="col-3">
                            <span class="stat-text">{{ 'stat-hp' | translate | uppercase }}</span>
                        </div>
                        <div class="col-9">
                            <p-progressBar [value]="statPercentage(this.pokeDetailView.stats.hp)" [showValue]="false">
                                <ng-template #content let-value>
                                    <span>{{this.pokeDetailView.stats.hp}}</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                        <div class="col-3">
                            <span class="stat-text">{{ 'stat-attack' | translate | titlecase }}</span>
                        </div>
                        <div class="col-9">
                            <p-progressBar [value]="statPercentage(this.pokeDetailView.stats.attack)" [showValue]="false">
                                <ng-template #content let-value>
                                    <span>{{this.pokeDetailView.stats.attack}}</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                        <div class="col-3">
                            <span class="stat-text">{{ 'stat-defense' | translate | titlecase }}</span>
                        </div>
                        <div class="col-9">
                            <p-progressBar [value]="statPercentage(this.pokeDetailView.stats.defense)" [showValue]="false">
                                <ng-template #content let-value>
                                    <span>{{this.pokeDetailView.stats.defense}}</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                        <div class="col-3">
                            <span class="stat-text">{{ 'stat-special-attack' | translate | titlecase }}</span>
                        </div>
                        <div class="col-9">
                            <p-progressBar [value]="statPercentage(this.pokeDetailView.stats['special-attack'])" [showValue]="false">
                                <ng-template #content let-value>
                                    <span>{{this.pokeDetailView.stats['special-attack']}}</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                        <div class="col-3">
                            <span class="stat-text">{{ 'stat-special-defense' | translate | titlecase }}</span>
                        </div>
                        <div class="col-9">
                            <p-progressBar [value]="statPercentage(this.pokeDetailView.stats['special-defense'])" [showValue]="false">
                                <ng-template #content let-value>
                                    <span>{{this.pokeDetailView.stats['special-defense']}}</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                        <div class="col-3">
                            <span class="stat-text">{{ 'stat-speed' | translate | titlecase }}</span>
                        </div>
                        <div class="col-9">
                            <p-progressBar [value]="statPercentage(this.pokeDetailView.stats.speed)" [showValue]="false">
                                <ng-template #content let-value>
                                    <span>{{this.pokeDetailView.stats.speed}}</span>
                                </ng-template>
                            </p-progressBar>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    
        <div class="grid mt-5">
            <div class="col-6 text-left">
                @if(this.idPoke > 1){
                    <p-button [label]="'previous' | translate | titlecase" [link]="true" />
                }
            </div>
            <div class="col-6 text-right">
                @if(this.idPoke <= this.maxPokemon){
                    <p-button [label]="'next' | translate | titlecase" [link]="true" />
                }
            </div>
        </div>
    
    </div>

}

@if(showSpinner){
    <div class="flex justify-content-center mt-3">
        <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
    </div>
}
