<div class="detail-container fadein animation-duration-500">
    
    <div class="grid">

        <div class="col-12 md:col-6 lg:col-6">
            <div class="flex flex-column justify-content-center text-center">
                <span class="custom-title">Bulbasour</span>
                <span class="custom-subtitle">#0001</span>
                <div><img width="300" alt="Pokemon 404" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/home/1.png" /></div>
                <div>
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/4.png">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/4.png">
                </div>
                <div>
                    <span class="custom-subtitle">Peso: 45 kg </span>
                    <span class="custom-subtitle">Altura: 1.95m</span>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-6 lg:col-6 flex align-items-center justify-content-center">
            <div class="flex flex-column justify-content-center text-justify">
                <span class="align-items-center justify-content-center">
                    A Bulbasaur es fácil verle echándose una siesta al sol. La semilla que tiene en el lomo va creciendo cada vez más a medida que absorbe los rayos del sol.
                </span>
            
                <div class="grid mt-5 align-items-center justify-content-center">
                    <div class="col-3">
                        <span class="stat-text">PS</span>
                    </div>
                    <div class="col-9">
                        <p-progressBar [value]="getStatPercentage(200)" [showValue]="false">
                            <ng-template #content let-value>
                                <span>200</span>
                            </ng-template>
                        </p-progressBar>
                    </div>
                    <div class="col-3">
                        <span class="stat-text">Ataque</span>
                    </div>
                    <div class="col-9">
                        <p-progressBar [value]="getStatPercentage(200)" [showValue]="false">
                            <ng-template #content let-value>
                                <span>200</span>
                            </ng-template>
                        </p-progressBar>
                    </div>
                    <div class="col-3">
                        <span class="stat-text">Defensa</span>
                    </div>
                    <div class="col-9">
                        <p-progressBar [value]="getStatPercentage(200)" [showValue]="false">
                            <ng-template #content let-value>
                                <span>200</span>
                            </ng-template>
                        </p-progressBar>
                    </div>
                    <div class="col-3">
                        <span class="stat-text">Ataque Especial</span>
                    </div>
                    <div class="col-9">
                        <p-progressBar [value]="getStatPercentage(200)" [showValue]="false">
                            <ng-template #content let-value>
                                <span>200</span>
                            </ng-template>
                        </p-progressBar>
                    </div>
                    <div class="col-3">
                        <span class="stat-text">Defensa Especial</span>
                    </div>
                    <div class="col-9">
                        <p-progressBar [value]="getStatPercentage(200)" [showValue]="false">
                            <ng-template #content let-value>
                                <span>200</span>
                            </ng-template>
                        </p-progressBar>
                    </div>
                    <div class="col-3">
                        <span class="stat-text">Velocidad</span>
                    </div>
                    <div class="col-9">
                        <p-progressBar [value]="getStatPercentage(255)" [showValue]="false">
                            <ng-template #content let-value>
                                <span>255</span>
                            </ng-template>
                        </p-progressBar>
                    </div>
                </div>
                </div>
            </div>
    </div>

    <div class="grid mt-5">
        <div class="col-6 text-left">
            <p-button label="Anterior" [link]="true" />
        </div>
        <div class="col-6 text-right">
            <p-button label="Siguiente" [link]="true" />
        </div>
    </div>

</div>
